body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }

header {
    border: .25rem solid rgb(0, 85, 255);
    display: grid;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}
h1{
    border: .25rem solid blue;
    text-align: center;
    font-size: 3rem;
}
nav {
    border: .25rem solid rgb(136, 0, 255);
    display: flex;
    align-content: center;
    /* align-items: center; */
}

nav > a {
    margin: .5rem;
    font-size: 1.5rem;
}

main {
    border: .25rem solid rgb(247, 0, 255);
}